body{
  background-image: url("media/bakgrunn.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
    background-attachment: fixed;
  font-family: "Lucida Sans Unicode";
}
#logo{
  margin-top: 0%;
  float: left;
  display: inline-block;
  width: 10%;
  height: 120px;
  background-color: #636363;
  background-image: url("media/logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.meny{
  margin-top: 0%;
  float: left;
  display: inline-block;
  width: 70%;
  text-align: center;
  box-sizing: border-box;
  height: 120px;
  background-color: #b00e0e;
}
.menyRad{
  float: left;
  display: inline-block;
  width: 25%;
  text-align: center;
  margin-top: 90px;
  height: 30px;
  box-sizing: border-box;
  font-size: 20px;
  background-color: #636363;
  color: #000000;
}
.sosialemedier{
  margin-top: 0%;
  float: left;
  display: inline-block;
  width: 20%;
  height: 120px;
  background-color: #636363;
}
#youtube{
  margin-left: 10%;
  width: 36%;
}
#instagram{
  margin-left: 5%;
  width: 34%;
}

.sideInnhold{
  display: inline-block;
  float: left;
  background-color: #b00e0e;
  margin-top: 15px;
  margin-left: 10%;
  width: 80%;
  border: 5px solid #000000;
  box-sizing: border-box;
}

.info{
  margin-top: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 5px solid #000000;
  background-color: #636363;
  margin-left: 10%;
  width: 80%;
}

h1{
  color: #000000;
  width: 80%;
  margin-left: 10%;
  border-bottom: 5px solid #b00e0e;
  padding: 10px;
  text-align: center;
  font-size: 40px;
}

p{
  margin-left: 10%;
  width: 80%;
  text-align: left;
  font-size: 20px;
}
